.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1236px;
  margin: auto;
  border-bottom: 2px solid #2a2a2a;
}

.container__menu-title > h1 {
  font-family: 'verdana';
  font-size: 245px;
  letter-spacing: -20px;
  color: #ffffff;
  background: #FFCC00;
  background: linear-gradient(1deg,#ff1600 20%, #ffdd00 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container__menu-title > hr {
  border-color: #2a2a2a;
}
