<section class="container">

  <div class="container__menu-bar-left">

    <div class="conteiner__logo"></div>

    <div class="container__menu-bar">
      <ul>
        <li><a href="#">LEARN</a></li>
        <li><a href="#">SHORTCUT</a></li>
        <li><a href="#" class="active">BLOG</a></li>
        <li><a href="#">BOOKMARKS</a></li>
        <li><a href="#">UI KIT</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">LAIN NYA</a></li>
      </ul>
    </div>
  </div>

  <div class="container__menu-bar-right">
    <div class="img_rede_item">
      <a href="#"><img src="assets/img/icon-facebook-circled.png"></a>
    </div>
    <div class="img_rede_item">
      <a href="#"><img src="assets/img/icons-linkedin-circled.png"></a>
    </div>
    <div class="img_rede_item">
      <a href="#"><img src="assets/img/icons-twitter-circled.png"></a>
    </div>
  </div>

</section>

